{% extends "layout.html.twig" %}
{% block title %}Cases{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div id="content">
        <h2></h2>
        <table>
        {% for item in form %}

                <td>
                    <p id="title">{{ item['title'] }}</p>
                    <img src="/images/{{item['imageName']}}.png" alt="caseIcon">
                    <button type="submit" id="form_save" name="form[save]">Open</button>  {{ item['blogText'] }}

                    <br>
                </td>

        {% endfor %}
        </table>
    </div>

{% endblock %}