{% extends "layout.html.twig" %}
{% block title %}Cases{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div id="container">
        <h2>PENIS</h2>
        <ul class="flex-con">
        {% for item in form %}
        <li class="item">

                    <p id="title">{{ item['title'] }}</p>
                    <img src="/images/{{item['imageName']}}.png" alt="caseIcon">
                    <button type="submit" id="form_save" name="form[save]">Open</button>  {{ item['blogText'] }}


        </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}
