<!doctype html>

<!--Dieser veränderte Code für die Timeline stammt aus dem tutorial: http://clikr.de/entwicklung/timeline-html-css-tutorial/ von Richard Karsten Gründer von webdasein und clikr.-->

<html>

<div>
    <ul id="nav">
        <li><a href="/cases">Back to Homepage</a></li>
    </ul>
</div>

<head>
    <meta charset="utf-8">
    <title>Zeitleiste</title>
    <link rel="stylesheet" href="/css/timeline.css" />
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
<header>
    <h1 class="title">CSSC WEB</h1>
    <h2 class="subtitle">Dokumentation</h2>
</header>
<div class="container">
    <ul class="timeline">
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Auswahl des Projektes</h3>
                <time datetime="2017-04-12">04.12.2017</time>
                <p>Wir haben uns zusammengesetzt und über mögliche Projektthemen gesprochen. Die Vorgabethemen "Bildbetrachter" und "Comicarchiv" haben uns nicht zugesagt, weshalb wir uns für die
                    dritte Möglichkeit, einer selbstgestellten Aufgabe, entschieden haben. Hier haben wir das Thema CSSC, einer von Julian entwickelten App, aufgegriffen. Wir haben uns entschieden eine
                Website zu erstellen die sich mit der selbten Themtik auseinandersetzt. Die Website soll einen Shop darstellen in dem der User Kisten kaufen kann, in welchen zufällige Skins für Waffen
                im Spiel enthalten sind.</p>
            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Erste ToDo-Liste</h3>
                <time datetime="2017-04-12">04.12.2017</time>
                <p>Als nächstes haben wir folgende ToDo-Liste erstellt:</p>
                <ul>
                    <li>GitHub Projekt erstellen</li>
                    <li>Grundstruktur in PHP Storm erstellen</li>
                </ul>
               </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Stil der Website</h3>
                <time datetime="2017-06-12">06.12.2017</time>
                <p>Nach Fertigstellung der Basis haben wir uns um den Stil Gedanken gemacht. Hier haben wir uns mehrere ähnliche Seiten im Internet angeschaut und uns danach für einen Stil entschieden.
                Die Seite soll im dunklen Blau/Grün-Grau gehalten sein. Die Kisten setzen die Highlights durch leuchtende Farben. Einzelne Akzente setzen wir mit der Farbe Orange. Für den Rest nutzen wir Grautöne und Weiß.</p>
            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Erweiterung der ToDo-Liste</h3>
                <time datetime="2017-10-12">10.12.2017</time>
                <p>Als nächstes haben wir unsere ToDo-Liste erweitert:
                <ul>
                    <li>Julez Datenbank informaieren / erstellen</li>
                    <li>DB einbinden - Julez</li>
                    <li>Index Seite erstellen - Aaron</li>
                    <li>Login programmieren</li>
                </ul>
                </p>
            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Datenbank und erste Funktionen</h3>
                <time datetime="2017-12-12">12.12.2017</time>
                <p>Wir haben eine Datenbankgrundstruktur erstellt, mit welcher wir vorläufig arbeiten konnten:</p>
                <ul>
                    <li><img src="/images/doku DB1.png" alt="doku DB1"></li>
                    <li><img src="/images/doku DB2.png" alt="doku DB2"></li>
                </ul>
                Dazu haben wir eine erste Ansichtsseite mit kleineren Funktionen erstellt.
                <ul>
                    <li><img src="/images/doku site1.png" alt="doku site1"></li>
                    <li><img src="/images/doku site2.png" alt="doku site2"></li>
                </ul>
                Man kann bereits zwischen Seiten wechseln und es können Inhalte aus der Datenbank angezeigt werden.

            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Der Login</h3>
                <time datetime="2017-20-12">20.12.2017</time>
                <p>Für den</p>
            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Entwicklung und Erweiterung der Seiten</h3>
                <time datetime="2017-03-24">24.06.2017</time>
                <p>In diesem Schritt haben wir das Desgin der Seiten verfeinert und Elemente wie das Menü oder den Slider eingefügt.Auch den Contet der Seiten haben wir eingefügt und bearbeitet. Wir haben eine weitere Seite(Philosopie) eingefügt, die zuvor mit unter der "Über mich" Seite geführt war.</p>
            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Gestaltung der Webseite für Desktop Endgeräte</h3>
                <time datetime="2017-03-25">25.06.2017</time>
                <p>Nun haben wir die bestehnden Seiten und Module für die Ausgabe auf dem Desktop angepasst. </p>
            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Finale Überarbeitung aller Seiten und funktions Tests</h3>
                <time datetime="2017-03-26">26.06.2017</time>
                <p>Im letzen Schritt haben wir unsere Webseite und das Design auf verschiedenen Endgeräten getestet und optimiert.</p>
            </div>
        </li>
    </ul>
</div>
</body>
</html>