<!doctype html>

<!--Dieser veränderte Code für die Timeline stammt aus dem tutorial: http://clikr.de/entwicklung/timeline-html-css-tutorial/ von Richard Karsten Gründer von webdasein und clikr.-->

<html>

<div>
    <ul id="nav">
        <li><a href="/cases">Back to Homepage</a></li>
    </ul>
</div>

<head>
    <meta charset="utf-8">
    <title>Zeitleiste</title>
    <link rel="stylesheet" href="/css/timeline.css" />
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
<header>
    <h1 class="title">CSSC WEB</h1>
    <h2 class="subtitle">Dokumentation</h2>
</header>
<div class="container">
    <ul class="timeline">
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Auswahl des Projektes</h3>
                <time datetime="2017-04-12">04.12.2017</time>
                <p>Wir haben uns zusammengesetzt und über mögliche Projektthemen gesprochen. Die Vorgabethemen "Bildbetrachter" und "Comicarchiv" haben uns nicht zugesagt, weshalb wir uns für die
                    dritte Möglichkeit, einer selbstgestellten Aufgabe, entschieden haben. Hier haben wir das Thema CSSC, einer von Julian entwickelten App, aufgegriffen. Wir haben uns entschieden eine
                Website zu erstellen die sich mit der selbten Themtik auseinandersetzt. Die Website soll einen Shop darstellen in dem der User Kisten kaufen kann, in welchen zufällige Skins für Waffen
                im Spiel enthalten sind.</p>
            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Erste ToDo-Liste</h3>
                <time datetime="2017-04-12">04.12.2017</time>
                <p>Als nächstes haben wir folgende ToDo-Liste erstellt:</p>
                <ul>
                    <li>GitHub Projekt erstellen</li>
                    <li>Grundstruktur in PHP Storm erstellen</li>
                </ul>
               </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Stil der Website</h3>
                <time datetime="2017-06-12">06.12.2017</time>
                <p>Nach Fertigstellung der Basis haben wir uns um den Stil Gedanken gemacht. Hier haben wir uns mehrere ähnliche Seiten im Internet angeschaut und uns danach für einen Stil entschieden.
                Die Seite soll im dunklen Blau/Grün-Grau gehalten sein. Die Kisten setzen die Highlights durch leuchtende Farben. Einzelne Akzente setzen wir mit der Farbe Orange. Für den Rest nutzen wir Grautöne und Weiß.</p>
            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Erweiterung der ToDo-Liste</h3>
                <time datetime="2017-10-12">10.12.2017</time>
                <p>Als nächstes haben wir unsere ToDo-Liste erweitert:
                <ul>
                    <li>Julez Datenbank informaieren / erstellen</li>
                    <li>DB einbinden - Julez</li>
                    <li>Index Seite erstellen - Aaron</li>
                    <li>Login programmieren</li>
                </ul>
                </p>
            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Datenbank und erste Funktionen</h3>
                <time datetime="2017-12-12">12.12.2017</time>
                <p>Wir haben eine Datenbankgrundstruktur erstellt, mit welcher wir vorläufig arbeiten konnten:</p>
                <ul>
                    <li><img src="/images/doku DB1.png" alt="doku DB1"></li>
                    <li><img src="/images/doku DB2.png" alt="doku DB2"></li>
                </ul>
                Dazu haben wir eine erste Ansichtsseite mit kleineren Funktionen erstellt.
                <ul>
                    <li><img src="/images/doku site1.png" alt="doku site1"></li>
                    <li><img src="/images/doku site2.png" alt="doku site2"></li>
                </ul>
                Man kann bereits zwischen Seiten wechseln und es können Inhalte aus der Datenbank angezeigt werden.

            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Der Login</h3>
                <time datetime="2017-20-12">20.12.2017</time>
                <p>Für den Login haben wir eine neue Tabelle in der Datenbank angelegt:
                <ul>
                    <li><img src="/images/doku DB3.png" alt="doku DB1"></li>
                </ul>
                Nun haben wir den Code so angepasst, dass beim Login die Usereingabe mit der Datenbank abgeglichen wird.
                </p>
            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Die Registrierung</h3>
                <time datetime="2018-03-01">03.01.2018</time>
                <p>Auch hierfür greifen wir auf die Datenbank zu. Es wird abgefragt, ob der Username bereits vergeben ist. Falls nicht wird ein neuer User in der Datenbank angelegt.</p>
            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Kistenbilder und Anordnung</h3>
                <time datetime="2018-03-01">03.01.2018</time>
                <p>Jeder Kiste in der Datenbank soll ein Bild zugeordnet werden. Hierbei speichern wir die Bilder in unserem Projekt und rufen diese über den Namen, welcher in der DB
                    gespeichert ist auf.</p>
                <p>Dazu haben wir das Layout so bearbeitet, sodass es die Kisten auch untereinander anzeigt, sobald zu wenig Platz in einer Reihe ist. Dies sorgt auch dafür, dass die
                    Darstellung auch responsive ist.</p>
            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Copyright behoben</h3>
                <time datetime="2018-05-01">05.01.2018</time>
                <p>Da wir bei den Kistenbildern vorläufig Copyrightgeschützte Bilder verwendet haben, haben wir diese durch selbst erstellte Bilder (cc0 Licence) ersetzt.</p>
                Neuer Kisten:
                <ul>
                    <li><img src="/images/doku site3.png" alt="doku DB1"></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="event"> <span class="icon fa fa-check"></span>
                <h3>Die Dokumentation</h3>
                <time datetime="2018-06-01">06.01.2018</time>
                <p>Für die Dokumentation haben wir uns ein an der Website orientiertes Design ausgedacht. Den Aufruf haben wir über einen Button im Footer ermöglicht. Über
                    einen Button im Header Dokumentation kommt der User zurück zur Website
                <ul>
                    <li><img src="/images/doku site4.png" alt="doku site4"></li>
                </ul>
                </p>
            </div>
        </li>
    </ul>
</div>
</body>
</html>