<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" />
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div id="menu">
    <div id="name"><h1><a href="/">CSSC WEB</a></h1></div>
    <ul id="nav">
        <li><a href="/">Cases</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/timeline">Documantation</a></li>
    </ul>
</div>
<div id="content">{% block content %}{% endblock %}</div>



<footer>
    <div class="footer">
        <p><a href="/Impressum">Impressum</a><img src="Fake G2A.png" alt="Fake G2A"></p>
        <p>© 2018 Julian Prohl & Aaron Jedowski</p>
        <p> HS Flensburg | Kanzleistraße 91-93 | 24943 Flensburg</p>
    </div>
</footer>


</body>
</html>
