

* {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #22292e ;
    color: white;
    font-style: normal;
    font-size: 12pt;
    min-width: 100%;
}
h1 {
    color: white;
}
h2 {
    font-size: 30pt;
    margin-bottom: 1em;
}

p {
     font-size: 14pt;
 }
td {
    width: 200px;
    height: 200px;
}

a{
    color: white;
    text-decoration: none;
}


#content {
    padding: 1em;
}


#nav {
    text-align: right;
    background: #252e35;
    font-size: 20pt;
}

#nav li {
    display: inline;
}

#nav a {
    text-decoration: none;
    padding: 0 1em; /* variable width */
    color: #7f8179;
}

#nav a:hover {
    color: white;
}

#footer {
    position: absolute;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: -1;
    font-size: 20pt;
    text-align: center;
    background-color: black;
    width: 100%;
}

#name {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    z-index: -1;
    font-size: 15pt;
    text-align: left;
    background-color: #1c2127;
    width: 100%;
}

#title {
    font-size: 18pt;
    font-style: normal;
    color: white;
}
#itemID {
    font-size: 20pt;
    font-style: normal;
    color: white;
}

#publishDate {
    font-size: 12pt;
    font-style: italic;
    color: chartreuse;
}

#blogText {
    margin-top: 0.5em;
    margin-bottom: 1em;
}